.game-container {
  margin-top: 0%;
  margin-bottom: 0%;
  animation: gradient 1s infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  background-size: 300% 300%;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 5px solid white;
  box-shadow: 0px 0px 25px currentcolor;
  
}

@keyframes gradient {
  0% {
    background-position: 0 50%
  }
  50%{
    background-position:100% 50%

  }
  100%{
    background-position: 0 50%;

  }
}

.game-header {
  color: #e73c7e;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.next-container {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 1.8em;
  justify-content: center;
  margin-left: 23%;
  position: absolute;
  width: 1.8em;
}

.next {
  background-color:#2d1133;
  border-radius:2px;
  border: 1px solid rgb(253, 248, 248);
  color: white;
  font-weight: 600;
  height: 200%;
  width: 200%;
}

.title  h1{
  font-size: 2em;
  margin: 0.5em auto;
}

.player-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0.5em auto;
}

.player-name {
  font-size: 1em;
  margin: auto 1em;
  order: 1;
}

.player-image {
  background-color:transparent;
  border: solid 2px  white;
  border-radius: 50%;
  color: rgb(40, 44, 52);
  font-size: 10px;
  order: 0;
  padding: 2px;
}

.player-score {
  font-family: 'Courier New', Courier, monospace;
  color: rgba(24, 26, 24, 0.672);
  font-size: 1.5em;
  margin: auto;
  margin-left: 2em;
  order: 3;
}

.question-container {  
  
  display: flex;
  flex-direction: column;
}

.question-category-timer {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.question-category {
  color: rgba(24, 26, 24, 0.672);
  font-size: 1em;

}

.question-text {
  font-family: 'Courier New', Courier, monospace;
  background-color:transparent;
  box-shadow: 0px 0px 15px currentcolor;
  border: 5px solid currentcolor;
  border-radius:3px;
  color: #e73c7e border 1px solid black;  
  font-size: 1em;
  font-weight: 600;
  margin: 1em auto;
  padding: 0.3em;
  width: 80%;
}

.timer-container {
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 1.8em;
  justify-content: center;
  width: 1.8em;
  border: 5px solid white;
  box-shadow: 0px 0px 15px currentcolor;
}

.timer {
  color: rgb(40, 44, 52);
  font-size: 1em;
}

.answers-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background-color:transparent;
  box-shadow: 0px 0px 15px currentcolor;
  border: 5px solid currentcolor;  
  border-radius: 5px;  
  font-size: 0.6em;
  font-weight: 600;
  margin: 0.5em 0;
  padding: 0.3em;
}