.App-header {
  background-color: rgb(45, 17, 51);
}


.App-logo {
  animation: game 1s ease infinite;
  background-size: 200% 200%;
  border: 5px solid white;
  border-radius: 8px;
  box-shadow: 0 0 25px currentColor;
  display: block;
  height: auto;
  max-width: 45%;
  width: auto;
}

@keyframes game {

  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 100% 50%;
  }

}

p {
  font-family: Palette Mosaic , cursive;
}

.login {
  align-items: center;
  border: solid 3px white;
  border-radius: 8px;
  box-shadow: 0 0 25px currentColor;
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: center;
  margin: 0.3em auto;
  width: 12em;
}

.input-text {
  background-color: transparent;
  border: 1.5px solid currentColor;
  border-radius: 8px;
  box-shadow: 0 0 10px currentColor;
  color: white;
  font-size: 0.6em;
  height: 1.5em;
  margin-bottom: 0.4em;
  text-align: center;
  width: 15em;
}

.input-text::placeholder {
  color: white;
}


.input-email {
  background-color: transparent;
  border: 1.5px solid currentColor;
  border-radius: 8px;
  box-shadow: 0 0 10px currentColor;
  color: white;
  font-size: 0.6em;
  height: 1.5em;
  margin: 0.4em 0;
  text-align: center;
  width: 15em;
}

.input-email::placeholder {
  color: white;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 white;
}

.options-menu {
  display: flex;
  flex-direction: row;
  margin-top: 1.2em;
}

.jogar-container {
  align-items: center;
  animation: game 1s ease infinite;
  background-color: transparent;
  background-size: 200% 200%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 0 0.6em;
}

a {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-decoration: none;
}

.btn-container {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px currentColor;
  color: white;
  cursor: pointer;
  font-weight: 600;
  height: 100%;
}

.btn-play:disabled {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}
