.rank-home-btn-container {
  align-items: center;
  background-color: transparent;
  border: solid 4px white;
  border-radius: 15px;
  box-shadow: 0 0 10px currentColor;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1.5em;
  max-width: max-content;
  padding: 0 0.2em;
}

.rank-home-btn-container:hover {
  background-color: white;
}

.rank-btn-home {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: white;
  font-size: 1em;
}

.rank-btn-home:hover {
  background-color: white;
  box-shadow: none;
  color: transparent;
  z-index: 2;
}

.rank-btn-home-label {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: white;
  font-size: 0.6em;
  font-weight: 600;
  height: 2.5em;
}

.rank-btn-home-label:hover {
  background-color: white;
  box-shadow: none;
  color: rgb(45, 17, 51);
}
