.configuration-menu {
  display: flex;
  flex-direction: column;
}

.configuration-options {
  font-size: 1em;
  margin: 0.2em 0;
  text-align: center;
}

.configuration-button {
  font-size: 1em;
  font-weight: 600;
  margin: 1.5em auto 0;
}
