h1 {
  border: 4px solid rgb(231, 156, 85);
  border-radius: 100%;
  box-shadow: 0 0 30px currentColor;
  color: rgb(231, 156, 85);
}

select {
  background-color: transparent;
}

.configuration-menu {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.configuration-options {
  background-color: transparent;
  border: 4px solid white;
  border-radius: 3px;
  box-shadow: 0 0 15px currentColor;
  color: white;
  font-size: 1em;
  margin: 0.2em 0;
  text-align: center;
}

.configuration-button {
  background-color: transparent;
  border: 4px solid white;
  border-radius: 4px;
  box-shadow: 0 0 15px currentColor;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin: 1.5em auto 0;
}
